In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv?raw=true"

In [4]:
dataset = pd.read_csv (url, error_bad_lines=False)

In [5]:
dataset

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [6]:
A = [1,2,3,4,5,6] # Q1
B = [13, 21, 34]

In [7]:
for x in B:
  A.append(x)

print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [8]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

A.extend(B)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [9]:
np.identity(3)# Q2

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [10]:
d = (dataset.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()) # Q3
d

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [11]:
b = dataset.fuel_mmbtu_per_unit
b.describe() # Q4

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [14]:
a = dataset.fuel_qty_burned
print("skewness is", a.skew())
print("kurtosis is", a.kurtosis()) # Q5

skewness is 15.851495469109503
kurtosis is 651.3694501337732

In [15]:
print(dataset.isnull().sum()) # Q6
change_percent = (180/29523)*100
print(change_percent)

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64
0.609694136774718

In [17]:
dataset.dtypes # Q7

record_id                        object
utility_id_ferc1                  int64
report_year                       int64
plant_name_ferc1                 object
fuel_type_code_pudl              object
fuel_unit                        object
fuel_qty_burned                 float64
fuel_mmbtu_per_unit             float64
fuel_cost_per_unit_burned       float64
fuel_cost_per_unit_delivered    float64
fuel_cost_per_mmbtu             float64
dtype: object

In [18]:
dataset.dtypes # Q8

record_id                        object
utility_id_ferc1                  int64
report_year                       int64
plant_name_ferc1                 object
fuel_type_code_pudl              object
fuel_unit                        object
fuel_qty_burned                 float64
fuel_mmbtu_per_unit             float64
fuel_cost_per_unit_burned       float64
fuel_cost_per_unit_delivered    float64
fuel_cost_per_mmbtu             float64
dtype: object

In [19]:
w = dataset.fuel_cost_per_unit_burned
u = dataset.fuel_qty_burned # 2nd lowest correlation 
correlation = w.corr(u)
print(correlation)

-0.018535416794825225

In [20]:
w = dataset.fuel_cost_per_unit_burned
v = dataset.fuel_cost_per_unit_delivered
correlation = w.corr(v)
print(correlation)

0.011007403299165112

In [21]:
w = dataset.fuel_cost_per_unit_burned
y = dataset.fuel_mmbtu_per_unit # 3rd lowest correlation 
correlation = w.corr(y)
print(correlation)

-0.010033808428853057

In [22]:
w = dataset.fuel_cost_per_unit_burned
z = dataset.fuel_cost_per_mmbtu
correlation = w.corr(z)
print(correlation)

-0.00043721044397040005

In [23]:
w = dataset.fuel_cost_per_unit_burned
i = dataset.report_year
correlation = w.corr(i)
print(correlation)

0.013599134438134115

In [24]:
w = dataset.fuel_cost_per_unit_burned
k = dataset.utility_id_ferc1
correlation = w.corr(k)
print(correlation)

-0.037862707599972595

In [25]:
pivot = pd.pivot_table(dataset,values = 'fuel_cost_per_unit_burned',index = 'report_year',columns = 'fuel_type_code_pudl', aggfunc = 'sum')
pivot.head(5) # Q9

fuel_type_code_pudl,coal,gas,nuclear,oil,other,waste
report_year,,,,,,
1994,14984.572,10792.496,227983.354,9362.194,116.737,52.762
1995,14571.785,9087.905,384152.639,17858.281,183.577,-192.699
1996,12694.803,1467.390,66657.887,5357.028,160.075,88.092
1997,43742.178,1518.471,112593.911,5387.536,153.923,137.433
1998,11902.597,7475.596,117788.269,2608.657,225.428,238.109

In [26]:
change_percent = ((float(11902.597)-14984.572)/14984.572)*100
change_percent

-20.567654518260518

In [27]:
t = (dataset.groupby('report_year')['fuel_cost_per_unit_delivered'].mean())# 5
t

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64